body {
    font-family: 'Righteous', cursive;
}

/*recebe margin auto pra centralizar o conteudo da página*/
.conteiner{
    margin: auto;
    width: 414px;
    background-color: #E5E5E5;
    margin-top: 15px; /*apenas para desgrudar do topo do navegador*/
}

/*largura e altura do header seguem as medidas do figma*/
header{
    width: 414px;
    height: 92px;
    background-color: #CF2B2B;
}

.titulo{
    font-family: Righteous;
    font-size: 44px;
    font-weight: 400;
    line-height: 55px;
    margin-left: 21px;
    color: #ffffff;

}

h1{
    font-family: Righteous;
    font-size: 26px;
    font-weight: 400;
    line-height: 32px;
    margin-top: 31px;
    margin-left: 21px;
}

h2{
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    margin-left: 21px;
    color: #ffffff;
}

img{
    width: 144px;
    height: 87px;
    border-radius: 4px;
    margin: 18px 14px 6px 14px;
}

h3{
    font-family: Roboto;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    color: #333333;
    margin-left: 14px;
}

p{
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    line-height: 18px;
    color: #A6A6A6;
    margin: 6px 0px 8px 14px;
}

.secaoComida, .secaoBebida{
    display: flex;
    overflow: hidden;
    overflow-x: scroll;
    margin-right: 21px; /*descolar do canto direito que fica cortado pelo overflow*/
}

/*barra de rolagem invisivel*/
*::-webkit-scrollbar {
    width: 12px;
  }

.comidas, .bebidas{
    width: 172px;
    height: 216px;
    background-color: #ffffff;
    border-radius: 9px;
    margin: 17px 0px 27px 21px;
}

